{% extends "base.html" %}

{% block content %}
    <br>
    <form class="mt-3" method="POST">

        <div class="mb-3">
            <label for="titulo-tarefa" class="form-label">Título da Tarefa:</label>
            <input type="text" class="form-control" name="titulo-tarefa" id="titulo-tarefa" aria-describedby="ajudaNomeTarefa" required>
            <div id="ajudaNomeTarefa" class="form-text">Use um nome que seja descritivo para a tarefa.</div>
        </div>

        <div class="mb-3">
            <label for="data-conclusao" class="form-label">Data de Conclusão da Tarefa:</label>
            <input type="date" class="form-control" name="data-conclusao" id="data-conclusao">
        </div>
        
        <button type="submit" class="btn btn-primary">Adicionar Tarefa</button>
    </form>
    <h2>Lista de Tarefas</h2>

    {% if tarefas %}
        
        <ul id="tarefas">
            {% for tarefa in tarefas %}
                <li>{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }} <a href="{{ url_for('delete', idTarefa=tarefa.id_tarefa) }}">Apagar</a></li>
            {% endfor %}
        </ul>
    
    {% else %}

        <p>Nenhuma tarefa cadastrada.</p>

    {% endif %}
{% endblock %}

<!-- Métodos HTTP:
    POST - "posta" (cadastra/envia) as informações (CREATE);
    GET - "pega" (recupera/obtém) as informações (READ);
    UPDATE/PATCH - "atualizam" as informações ou parte delas (UPDATE);
    DELETE - "apaga" as informações (DELETE);
    — C.R.U.D. (Create, Read, Update, Delete) —

    — Outros:
        PUT;
        HEAD;
        PATCH;
        CONNECT;
        TRACE;
        OPTIONS.
-->

<!-- Códigos de Retorno:
    2XX - Sucesso;
    3XX - Sucesso, mas redirecionado;
    4XX - Não encontrado (falha na REQUISIÇÃO);
    5XX - Erro do servidor (falha na RESPOSTA)
-->